spring.application.name=RandomRiftRoulette

security.jwt.(HMAC HASH string of 256 bits)
security.jwt.expiration-time=3600000

spring.datasource.url=jdbc:postgresql://localhost:5432/RandomRiftRoulette
spring.datasource.username=yourusername
spring.datasource.password=yourpassword
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true